@model List<BlogAspNet.Models.Entities.BlogPost>

@foreach (var post in Model)
{
    <div>
        <h2>@post.Title</h2>
        
        <p>@post.Content</p>
        
        <p><a href="/BlogPosts/Details/@post.Id" class="btn btn-primary">Wejdź</a></p>
        
        <hr/>
    </div>
}